html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h2{
    margin: 0px;
    padding-top: 10px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

h3{
    margin: 0px;
    padding: 10px 0px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'navbar'
    'main'
    'more'
    'footer';
}

.flex-row{
   display: flex;
   flex-direction: row;
   width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;    
}

/* navbar starts here */
/* ************************************************************************************* */

.navbar {
    grid-area: navbar;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 6px;
}

.navbar .nav-icon {
    margin-left: 10px;
    align-items: center;
}

.nav-icon > i{
    padding: 0px 10px;
}

.nav-icon > span{
    padding: 0px 10px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 14.25px;
    font-weight: 700;
}

.navbar .logo{
    justify-content: center;
    max-height: 26px;
}

.navbar .nav-btn{
    justify-content: flex-end;
    padding-right: 10px;
}

.navbar .nav-btn div button{
    margin-right:5px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 700;
    background-color: #567b95;
    border: 1px solid #567b95;
    padding: 8px;
}

.navbar .nav-btn div button:hover{
    margin-right:5px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 700;
    background-color: #326891;
    border: 1px solid #326891;
}

/* main section starts here */
/* ************************************************************************************* */

.main {
    grid-area: main;
}

.main-wrapper{
    margin: 0px 100px;
    background: #999999;
}

.main-wrapper h1 {
    font-family: "Cheltenham"; 
    text-align: center;
}

.main-wrapper .main-image .space-ripple{
    width: 100%;
}



/* 
.main-wrapper .main-image{
    text-align: center;
}

.main-image figcaption{
    text-align: left;
}

.main-image .space-ripple {
    width: 80%;
}

.time-icons {
    justify-content: center;
}

.main-wrapper div p, .by-author span, .time-icons {
    margin: 20px 300px;
}

.thanks-for {
    text-align:center;
    margin: 0 auto;
    font-size: calc(var(--small-font-size));
}

.thanks-for-p {
    margin: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-justify: distribute;
    padding: 0;
}

.subscribe-link {
    font-family: var(--helvetica-font-family);
    text-justify: distribute;
    color: rgb(50, 104, 145);
} */

/* =================================
Containter list
================================== */

/* .container {
    grid-area: container;
    margin: 0px 180px;
}
.container .container-evidence {
    width: 80%;
    border-top: 0.5px solid gray;
}
.container .evidence-section .evidence-list {
    justify-content: space-around;
}

container-evidence {
    grid-area: container-evidence;
    margin: 0px 180px;
}

.container-evidence {

}

.uni-box {
width: 240px;
border: 1px solid black;
} */

/* .main-image h1 {

}

#space-ripple {
    position:absolute;
    z-index: 4;
}

.main-image {
    max-height: 200px;
}

.main-image img{
    width: 100%;
}

.main-image h1 {
margin-bottom: 1rem;
}

@font-face {
    font-family: "Cheltenham"; 
    src: url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.eot");
}

.author {
    font-size: 12px;
    opacity: .7;
}

.by-author  {
    border: 1px solid black;
    background-color: chartreuse;
    position: absolute;
    z-index: inherit 4;

} */

/* read more section starts here */
/* ************************************************************************************** */

.more {
    grid-area: more;
    margin: 0px 180px;
}

.more .card-section{
    width: 80%;
    border-top: 0.5px solid gray;
}

.more .card-section .card-row{
    justify-content: space-around;
}

.more .card-section .card-row .card-imager{
    padding: 10px 10px;
}

.more .card-section .card-row .card-imager figure img{
    width: 100%;
}

.more .card-section .card-row .card-imager figure{
    text-align: right;
    font-size: 10px;
    color: #999999;
    margin: 0px;
    padding: 10px 10px,
}

.more .card-section .card-row .card-imager span.fig-topic{
    margin: 5px 0px;
}

.more .card-section .card-row .card-imager span.card-date{
    font-size: 11px;
    color: gray;
}

.astronomer{
    padding-left: 10px;
}

/* aside bar starts here */
/* ************************************************************************************** */
.aside {
    grid-area: aside;
    width: 30%;
    margin-left: 40px;
    border-top: 1px solid gray;
}

.aside-topic h3{
    border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-topic h3 a{
    font-size: 19px;
    line-height: 23px;
    color: rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    text-decoration: none;
    font-weight: 500;
}


/* footer starts here */
/* ************************************************************************************** */

.footer {
    grid-area: footer;
    margin: 20px 142px;
    padding: 10px 47px;
}

.footer-head .footer-thumbnail{
    width: 15%;
    color: #0878c7;
    font-size: 12px;
    text-decoration: none;
}

.footer-logo {
    width: 85%;
}

.footer .footer-content{
    justify-content: space-between;
}

.footer-group span a, .footer-group h3{
    line-height: 23px;
    font-size: 16px;
    text-decoration: none;
    color: #0f0f0f;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.footer-group span a:hover{
    line-height: 23px;
    font-size: 16px;
    text-decoration: underline;
    color: #0f0f0f;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.footer .footer-wrapper .footer-head{
    max-height: 34px;
    border-top: #d0d0d0  double;
    padding-top: 10px;
}

.footer .footer-wrapper .footer-head .footer-logo svg{
    height: 100%;
}

.border-left{
    border-left: 1px solid black;
    padding-left: 15px;

}

.footer-foot{
    border-top: 1px solid #666;
    margin-top: 10px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 11px;
    justify-content: space-evenly;
    padding: 10px 0px;
    text-decoration: none;
}

.footer-foot span a{
    text-decoration: none;
    color: #666;
}

.footer-foot span a:hover{
    text-decoration: underline;
}